header{
  background:#829EB9;
  height:50 px;
  font-family: Arial;
  text-align: center;
}
nav{
  background: #B3C6D9;
  height: 600 px;
  width: 25%; 
  float: left;
}
main{
  background: #E0E9F1;
  height: 600 px;
  width: 75%;
  text-align: center;
  float: left;
}
footer{
  background: #829EB9;
  font-family: Arial;
  text-align: right;
  clear: both;
}
  
